*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icone{
    width: 200px;
    height: 200px;
    background-color: gray;
    font-size: 30px;
}
.animal{
    color: blue;
}

.vegetable{
    color: orange;
}

.user{
    color: purple;
}
